.place__description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 18px;
    line-height: 29px;
    margin: 0 auto 26px;
    }

    @media screen and (max-width: 1023px) {
        .place__description {
            font-size: 16px;
            line-height: 26px;
        }
    }

    @media screen and (max-width: 767px) {
        .place__description {
            grid-row: 4 / 5;
            width: calc(100% - 2*16px);
        }
    }