.place__website {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        grid-row: 2 / 3;
        grid-column: 1;
        align-self: flex-start;
        width: calc(100% - 2*16px);
        margin: 0 auto;
    }
}